    /* 基础样式 */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "楷体";
    }

    body {
      font-family: Arial, sans-serif;
      background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/18173.jpg');
      background-repeat: no-repeat;
      background-size: cover;;
    }

    /* 导航栏 */
    header {
      background-color: #333;
      padding: 10px;
      text-align: center;
      height: 60px;
    }

    header h1 {
      color: white;

    }

    /* 侧边栏 */
    .sidebar {
      width: 200px;
      background-color: rgba(104, 104, 104, 0.3);
      backdrop-filter: blur(10px);
      color: white;
      position: fixed;
      height: 100vh;
      top: 60px;
      left: 0;
    }

    .sidebar ul {
      list-style-type: none;
      text-align: center;
    }

    .sidebar ul li a {
      color: rgb(220, 220, 220);
      font-size: 18px;
      font-weight: bold;;
      text-decoration: none;
      display: block;
      padding-left: 15px;
      padding-top:30px;
      padding-bottom:30px;
      width: 200px;
    }

    .sidebar ul li a:hover {
      background-color: #555;
      color: white;
    }

    .actve{
      background-color: #555;
      color: white;
    }

    /* 主内容 */
    main {
      display: flex;
      margin-left: 220px;
      padding: 20px;
    }

    .content {
      flex: 1;
    }
    .boxs{
      display: none;
      h2{
        margin-bottom:15px;
        color: aliceblue;
      }
    }
    .is-active{
      display: block;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
      gap: 20px;
      margin-top: 30px;
    }

    .grid-item {
      background-color: #f4f4f4;
      margin: 10px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: rgba(104, 104, 104, 0.3);
      backdrop-filter: blur(10px);
    }

    .grid-item a {
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      color: rgb(221, 221, 221);
    }

    .grid-item a:hover {
      color: red;
      font-weight: bold;
    }

    .hidden {
      display: none;
    }
    /* 弹窗样式 */
    /* 弹窗的样式 */
.modal {
  display: none; /* 默认隐藏 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
  overflow: auto;
  table{
    .left{
      text-align: right;
    }
    .right{
      text-align: left;
    }
    .center{
      text-align: center;
    }
  }
}


/* 弹窗内容 */
.modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  text-align: center;
  table{
    margin: 20px auto;
    .btn{
      width: 100px;
      height: 30px;
      margin-top: 20px;
      cursor: pointer;
    }
    input{
      margin-top: 10px;
      margin-bottom:10px;
      margin-left:5px;
      width: 200px;
      height: 25px;
    }
    #first-select,#second-select{
      margin: 10px 0px;
      margin-left:5px;
      height: 25px;
      width: 200px;
    }
  }
}

/* 关闭按钮 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
}